@use "helpers/" as *;
.advantages {
    position: relative;
    &__inner {
        padding-block: 0 50px;
        &--bg {
            position: relative;
            background-color: $sub_color;
            background-image: url('../img/line-advantage.svg');
            background-repeat: no-repeat;
            background-size: cover;
            padding-block: fluid(70, 40) fluid(90, 60);
            z-index: 2;
        }
    }

    &__line--bg {
        background-image: url('../img/line-advantage-2.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    &__title {
        color: $main_color;
    }

    &__wrapper {
        display: flex;
        gap: 60px;
    }

    &__form {
        width: 100%;
        max-height: 600px;
        justify-content: center;
        top: fluid(-79, -43);
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 18px;
        padding: 32px;
        max-width: 380px;
        background-color: #E6E7E8;
        z-index: 3;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 50px;

        &-item {
            max-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        &-head {
            position: relative;
            line-height: 1;
            display: flex;
            align-items: flex-end;
            gap: 4px;

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 40%;
                background-color: $sub_color;
                bottom: -20px;
                left: 0;
                translate: 0 50%;
            }
        }

        &-number {
            font-family: $sub_fonts;
            line-height: 0.9;
            font-size: fluid(62, 25);
            color: $sub_color;
        }

        &-title {
            text-transform: lowercase;
        }

    }
}


@media (width <= 1244px) {
    .advantages {

        &__wrapper {
            flex-direction: column-reverse;
            gap: 30px;
        }

        &__inner {
            padding-block: 0 25px;
            &--bg {
                padding-block: fluid(35, 60);
            }
        }

        &__form {
            position: static;
            max-width: 100%;
            margin: 0 auto;
            padding: 1rem;
            &-button {
                max-width: 250px;
            }
        }

        &__list {
            padding-block: 50px;
            justify-content: center;
        }
    }
}

@media (width <= 768px) {
    .advantages {

        &__list {

            &-item {
                gap: 35px;
            }
        }

        &__form {
            &-button {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}


@media (width <= 480px) {
    .advantages {
        &__list {
            grid-template-columns: repeat(1,1fr);

            &-item {
                max-width: 100%;
            }
        }
    }
}
