@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeueRegular.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('../fonts/bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas/BebasNeueRegular.woff') format('woff'),
        url('../fonts/bebas/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('../fonts/bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas/BebasNeueBold.woff') format('woff'),
        url('../fonts/bebas/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeueLight.eot');
    src: local('Bebas Neue Light'), local('BebasNeueLight'),
        url('../fonts/bebas/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas/BebasNeueLight.woff') format('woff'),
        url('../fonts/bebas/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeue-Thin.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('../fonts/bebas/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas/BebasNeue-Thin.woff') format('woff'),
        url('../fonts/bebas/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/bebas/BebasNeueBook.eot');
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('../fonts/bebas/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas/BebasNeueBook.woff') format('woff'),
        url('../fonts/bebas/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
