@use "helpers/" as *;
.footer {
    background-color: $footer_bg_color;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__navigation {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    &__menu {

        h3 {
            font-size: 28px;
            color:white;
            margin-bottom: 20px;
        }

        &-list {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
            }

            li,
            &-item {
                white-space: nowrap;
            }

            li a,
            &-link {
                color: $main_color;
                &.active {
                    color: $sub_color;
                    font-weight: 600;
                    pointer-events: none;
                }
            }


    }
}


@media (width <= 1024px) {
        .footer {
            &__inner {
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }

            &__navigation {
                gap: 100px;
            }

            &__contacts {
                align-items: center;
            }
        }
}

@media (width <= 768px) {
        .footer {
            &__inner {
                justify-content: start;
                align-items: start;
            }

            &__navigation {
                flex-direction: column;
                gap:50px
            }


            &__contacts {
                align-items: start;
            }
        }
}
