@use "helpers/" as *;

.header {
    overflow: hidden;
    color:white;

    &__wrapper {
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.__page {
            min-height: 350px;
            justify-content: end;
            .container {
                z-index: 99;
                color:white;
                margin-bottom: 50px;

                h1 {
                    font-size: 52px;
                }
                .button {
                    margin-top: 20px;
                }
            }
        }
    }

    &__video-bg {
        @include abs-cover;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__video-overlay {
        @include abs-cover;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);
        // background-image: url('../img/left_bg.svg'), url('../img/line_bg.svg'), url('../img/righ_bg.svg');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: -10px, center center, bottom right;
        background-size: contain, 100%, contain;
    }

    &__inner {
        height: 100vh;

        color: $main_color;
        z-index: 2;
        display: grid;
        grid-template-columns: 20% 1fr 30%;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .left {
            align-items: center;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        .center {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .call_phone {
            font-size: 24px;
            font-family: $sub_fonts;
        }

        .sand_email {
            font-size: 16px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;

    }
    &__digits {
        display: flex;
        align-items: center;
        gap:100px;

        margin-top: 100px;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &--number {
                font-size: 46px;
                font-family: $sub_fonts;
                line-height: 1;
                span {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: $sub_fonts;
                }
            }

            &--text {
                font-size: 16px;
                color: $main_color;
            }
        }
    }

}

.menu__navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;

    &-list {
        display: flex;
        column-gap: 20px;
    }

    li,
    &-item {
        white-space: nowrap;
    }

    li a,
    &-link {
        color: $main_color;
        font-size: 20px;
        padding: fluid-to-laptop(10, 5);
            &.active {
                color: $sub_color;
                font-weight: 600;
                pointer-events: none;
            }
    }
}


.sticky-menu {
        position: fixed;
        padding: 0;
        z-index: 100;
        top: 0;
        width: 100%;
        animation-name: scrolling-header;
        animation-fill-mode: both;
        animation-timeline: scroll();
        animation-range: 0 100px;
        overflow: hidden;

            @keyframes scrolling-header {
                to {
                    background-color: rgba(40, 40, 40,0.4);

                }
            }

    &__page {
        background-color: rgba(40, 40, 40,0.4);

    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        width:20%;
        height: 90px;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(15px) saturate(180%);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
        img {
            width: 80%;
            object-fit: contain;
            margin: auto;
        }
    }



    &__dialog {
        position: fixed;
        inset: 0;
        z-index: 95;
        margin-left: auto;
        width: 270px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.979);
        border: none;
        transition-duration: 0.2s;
        transition-behavior: allow-discrete;

        ul {
            margin-top: 20px;
            li{
                margin-bottom: 10px;
            }
        }
        &[open] {
            display: flex;
            justify-content: flex-end;
            @starting-style {
                opacity: 0;
                translate: 50%;
            }
        }

        &:not([open]){
            opacity: 0;
            translate: 50%;
        }

    }

    &__navigation {
        padding: 5rem 1rem 0 0;
        text-align: right;
        &-link {
            color: $black_color;
            padding: fluid-to-laptop(10, 5);
            &.active {
                color: $sub_color;
                font-weight: 600;
                pointer-events: none;
            }
        }
    }

    .burger-button {
        position: relative;
        z-index: 100;
        margin: auto 0 auto 0;
    }
}

@media (max-width: 1740px) {
    .header {
        &__wrapper {
            min-height: 900px;
        }

        &__title {
            h1 {
                font-size: 52px;
            }

        }

        &__inner {
            grid-template-columns: 25% 1fr 30%;
            min-height: 900px;
            .center {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .sticky-menu__logo {
        width: 25%;
    }
}

@media (max-width: 1330px) {
    .header {


        &__video-overlay {
            background-position: calc(100% - 80vw), center center, calc(100% + 7vw);
        }

        &__digits {
            gap: unset;
            justify-content: space-between;
        }


    }


}

@media (width <= 1024px) {
    .menu__navigation {
        display: none;
    }

    .logo__image {
        max-width: 270px;
    }
}

@media (width <= 768px) {
    .header  {
        &__title {
            flex-direction: column;
            align-items: flex-start;

        }


        &__inner {
            grid-template-columns: 1fr;
            padding: 0 20px;
            height: auto;
            gap:20px;
            .center {
                grid-row: 1;
                padding: 0;
                margin-top: 120px;
                width: 100%;
            }

            .left {
                grid-row: 2;
            }
        }

        &__digits {
            margin-top: 30px;
        }

        &__content {
            display: none;
        }

        &__video-overlay {
            background-image: url('../img/left_bg.svg');
            background-position: bottom right;
        }
    }
}

@media (width <= 480px) {
    .header  {
        &__wrapper {
            &.__page {
                .container h1 {
                    font-size: 38px;
                    line-height: 1.1;
                }
            }
        }

        &__title {
            h1 {
                font-size: 32px;
            }

        }

        &__digits {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap:20px;
            &-item {
                flex-direction: row;
                flex-wrap: wrap;
                width:100%;
                &--text {
                    flex:1;
                    font-size: 14px;
                }
                &--number {
                    width:40%;
                }

            }
        }

    }

    .sticky-menu__logo {
        width: 55%;
        height: 70px;
    }
}
