@use "helpers/" as *;
.join__team {
    background-image: url('../img/line-join-team.svg');
    background-repeat: no-repeat;
    background-size: cover;
    &-content {
        display: flex;
        gap: 10px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: fluid-to-laptop(50, 15);
        &--bg {
            background-color: $form_join_color;
        }
    }

    &-label {

        &--custom {
            display: inline-flex;
            align-items: center;
            gap: 12px;

            input:checked + .join__team-checkbox--custom::after {
                content: "";
                position: absolute;
                left: 5px;
                top: 0px;
                width: 6px;
                height: 10px;
                border: solid green;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    &-input {
        width: 80%;
    }

    &-checkbox {
        &--custom {
            position: relative;
            @include square(17px);
            display: inline-block;
            border: 1px solid transparent;
            background: white;
            transition: background 0.2s ease;
            flex-shrink: 0;
        }

    }

    &-button {
        max-width: 275px;
    }
}


@media (width <= 768px) {
    .join__team {

        &-img {
            display: none;
        }

        &-form {
            flex: 1;
        }

        &-input {
            width: 100%;
        }

    }
}
