@use "helpers/" as *;



.swiper-btn {
    position: relative;
    @include square(34px);
    padding: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    &:hover {
        scale: 1.1;
    }
}

.swiper-nav {
    display: flex;
    gap: 15px;
}

.swiper-prev {
    background-image: url('../img/prev-icon.svg');
}

.swiper-next {
    background-image: url('../img/next-icon.svg');
}
