
$old_main_color: #325ea5;
$hover_color: #273772;
$old_sub_color: #5aa495;


$main_color: #FFFFFF;
$sub_color: #C52026;
$black_color: #000000;
$footer_bg_color: #414042;

$gray_bg_color:#939598;
$gray_border_color:#B4C5C5;
$form_join_color: #EBEBEC;

$button_hover: #FF3333;

$transition_duration: all .2s ease;
$transition_duration_longer: all .5s ease;

$main_fonts:'Roboto', sans-serif;
$sub_fonts: 'Bebas Neue', sans-serif;

$border_rad: 10px;

$section_space: 20px;

$container_desktop_width: 1440;
$container_laptop_width: 1280;
$container_header: 1780;


$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
